.movie_details_container{
  margin: 15px;  
  display: inline-flex;
  padding: 50px;


}
.main{
  padding: "0 5px 50px 0";
}

.poster{
margin: auto;
}

.title{
  margin: 3px;
  color: brown;
  font-family: 'Times New Roman', Times, serif;
}

.genres {
  font-style:normal;
  margin: 3px;
  color: black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.description{
  font-size: 45px;
  margin: 3px;
  color: black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}